
# Created by https://www.toptal.com/developers/gitignore/api/pull
# Edit at https://www.toptal.com/developers/gitignore?templates=pull

#!! ERROR: pull is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/pull
